@import "./variables.scss";

.App {
  * {
    box-sizing: border-box;
    transition: {
      duration: $time;
      timing-function: linear;
    }
    white-space: initial !important;
  }

  &.no-overflow {
    overflow: hidden !important;
  }

  header {
    padding: 0 $line * 6;
    width: 100%;
    min-height: $line * 8;
    background: {
      image: $headerBg;
    }
    margin: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;


    @media screen and (max-width: 1024px){
      padding: 0;
    }
    @import "./header.scss";
  }

  @import "./sign.scss";

  main {
    padding: $line * 5 0 0 0;
    margin: 0 auto;
    width: 75%;
    min-height: 80%;
    height: 100%;

    @import "./dashboard.scss";
    @import "./cabinet.scss";
    @import "./downloadApp.scss";
    @import "./constructor.scss";
    @import "./templatesDashboard.scss";

    @media screen and (max-width: 470px){
      width: 90%;
      height: auto;
    }

    @media screen and (max-width: 1024px){
      width: 90%;
      height: auto;
    }
  }

  .close-icon{
    $dimension: 1.6em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
    width: $dimension;
    height: $dimension;
    background-color: #337ab7;
    background-image: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%);
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 rgba(156, 162, 188, 0.75);
    transition-duration: 0.2s;
    transition-timing-function: linear;
    cursor: pointer;
    &:before, &:after{
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: 50% 50%;
      display: block;
      content: '';
      height: 2px;
      width: 60%;
      background: #fff;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    &:before{
      transform: rotate(-45deg);
    }
    &:after{
      transform: rotate(-135deg);
    }
  }

  // react datepicker
  .react-datepicker-popper{
    transition: none !important;
  }
  .react-datepicker__input-container{
    input{
      font-size: 12px;
      color: #666;
    }
  }


}

// Alertify.js
.ajs-button{
  align-self: flex-start;
  background-color: #337ab7;
  background-image: -webkit-linear-gradient(22deg, #6B68DB 0%, #3C75CE 95%);
  background-image: -o-linear-gradient(22deg, #6B68DB 0%, #3C75CE 95%);
  background-image: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%);
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(156, 162, 188, 0.75);
  box-shadow: 0 10px 30px 0 rgba(156, 162, 188, 0.75);
  font-family: "Stratos-Medium-Web", "Arial Black", "Arial", "sans-sarif";
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 19px 61px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  cursor: pointer;
  margin-top: 20px;
}