@import "./variables.scss";

.constructor {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .constructor-top {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      @include blackCaption;
    }

    .back-to-main {
      @include greyBtn;
    }
  }

  .constructor-form {
    width: 98%;
    border: {
      radius: $line;
      style: none;
    }
    margin: $line * 5 0;
    box-shadow: 0 $line $line * 3 0 rgba(156,162,188,0.55);
    background: {
      color: white;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $line * 2 $line * 4;

    .task-caption {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;

      h3 {
        @include blackCaption;
        width: 80%;
      }

      .task-title {
        font: {
          family: $ico;
          size: $line * 2.4;
        }
        color: $fontMain;
        background: {
          color: transparent;
        }
        border: none;
        outline: none;
      }

      #task-name {
        margin: $line * 4 0 0 0;
        @include input;
      }
    }

    .custom-fields {
      width: 100%;

      .text-input, .image-input, .video-input {
        width: 100%;
        margin: $line * 4 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .input-caption {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          align-content: space-between;

          .input-info {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            h2 {
              @include blackCaption;
            }

            .remove-btn {
              border: none;
              outline: none;
              background: {
                color: transparent;
              }
              color: $fontMain;
              font: {
                family: $ico, $stratosMedium;
                size: $line * 1.6;
              }

              &:hover {
                color: $red;
              }
            }
          }

          .input-types {
            width: $line * 22;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            align-content: space-between;

            .type {
              width: 80%;
              font: {
                family: $stratosMedium;
                size: $line * 1.5;
              }
              color: $fontMain;

              span {
                color: $blue;
              }
            }

            .task-title {
              font: {
                family: $ico;
                size: $line * 2.4;
              }
              color: $fontMain;
              background: {
                color: transparent;
              }
              border: none;
              outline: none;
            }

            .available-types {
              width: 100%;
              margin: $line / 2 0 0 0;

              .input-type {
                background: {
                  color: #F5F5FF;
                }
                border: {
                  radius: $line * .4;
                  style: none;
                }
                outline: none;
                color: #BDC1CD;
                font: {
                  family: $ico, $stratosMedium;
                  size: $line * 2.5;
                }
                margin: 0 $line / 2;
                padding: $line * 1.7;
                text-align: center;
                cursor: pointer;
                transition: {
                  duration: $time;
                  timing-function: linear;
                }

                &:hover, &.active {
                  background: {
                    color: $blue;
                    image: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%);
                  }
                  box-shadow: 0 10px 30px 0 rgba(156,162,188,0.75);
                  color: white;
                }
              }
            }
          }
        }

        .input-fields {
          margin: $line * 6 0 0 0;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          align-content: space-between;

          input {
            @include input;
          }
        }
      }

      .text-input, .video-input {
        .input-fields {
          input {
            width: 47%;
          }
        }
      }

      .image-input {
        .input-fields {
          input {
            width: 31%;
          }
        }
      }
    }

    .footer {
      width: 100%;
      margin: $line * 4 0 0 0;
      padding: $line * 3 $line * 4;
      background: {
        color: #F8F8F2;
      }
      border: {
        radius: $line * .4;
      }
      display: flex;
      align-items: center;

      .footer-text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        h2 {
          @include blackCaption;
          padding: 0;
          margin: 0 0 $line / 2 0;
        }

        .current-type {
          font: {
            family: $stratosMedium;
            size: $line * 1.5;
          }
          color: $fontMain;

          span {
            color: $blue;
          }
        }
      }

      .available-types {
        margin-right: $line * 2;

        .type-select {
          background: {
            color: #F5F5FF;
          }
          border: {
            radius: $line * .4;
            style: none;
          }
          outline: none;
          color: #BDC1CD;
          font: {
            family: $ico, $stratosMedium;
            size: $line * 2.5;
          }
          margin: 0 $line / 2;
          padding: $line * 1.7;
          text-align: center;
          cursor: pointer;
          transition: {
            duration: $time;
            timing-function: linear;
          }

          &:hover, &.active {
            background: {
              color: $blue;
              image: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%);
            }
            box-shadow: 0 10px 30px 0 rgba(156,162,188,0.75);
            color: white;
          }
        }
      }

      .add-input {
        @include greyBtn;
      }
    }
  }

  .constructor-required {
    width: 100%;
    text-align: right;

    .caption {
      text-align: left;
      @include blackCaption;
    }

    .required-fields {
      width: 98%;
      border: {
        radius: $line;
        style: none;
      }
      margin: $line * 5 auto;
      box-shadow: 0 $line $line * 3 0 rgba(156,162,188,0.55);
      background: {
        color: white;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: $line * 2 $line * 4;

      .field-set {
        width: 100%;
        margin: $line * 2 0;
        display: flex;
        border: none;
        justify-content: space-between;

        label {
          display: flex;
          align-items: center;
          color: black;
          font: {
            family: $stratosMedium;
            size: $line * 1.6;
          }
        }

        &.names {
          #f {
            display: none;

            + label {
              flex-basis: 30%;
              min-width: 30%;

              &::before {
                content: "◘";
                margin: 0 $line 0 0;
                font: {
                  family: $ico;
                  size: $line * 2.5;
                }
                color: $blue;
              }
            }

            &:checked {
              + label::before {
                content: "○";
              }
            }
          }

          input[type="text"] {
            @include input;
            max-width: 20%;
            margin: 0 $line 0;

            &:first-of-type {
              margin: 0 $line 0 $line * 2;
            }

            &:last-of-type {
              margin: 0 0 0 $line;
            }

            &:disabled {
              background: $grey;
            }
          }
        }

        &.date {
          label {
            &:first-of-type {
              flex-basis: 30%;
              min-width: 30%;
            }
          }

          input {
            @include input;
            border-radius: 0 !important;
            line-height: 16px !important;
            max-width: 100%;
            margin: 0 $line 0;

            &:first-of-type {
              margin: 0 $line 0 $line * 2;
            }

            &:last-of-type {
              margin: 0 0 0 $line;
            }
          }
        }

        &.address {
          flex-wrap: wrap;

          label {
            flex-basis: 30%;
            min-width: 30%;
          }

          input {
            @include input;
            flex-grow: 1;
            flex-basis: 65%;
            margin: 0 0 0 $line * 2;
          }

          > div {
            flex-basis: 100%;
            height: 250px;
            margin: $line 0 0 0;
            position: relative;
          }
        }

        &.price {
          justify-content: space-between;

          label {
            flex-basis: 30%;
            min-width: 30%;

            .value {
              margin: 0 0 0 $line;
              color: $blue;
            }
          }

          #price {
            -webkit-appearance: none;
            width: 100%;
            background: transparent;
            margin: 0 0 0 $line * 2;

            &:focus {
              outline: none;
            }

            &::-ms-track {
              width: 100%;
              cursor: pointer;
              background: transparent;
              border-color: transparent;
              color: transparent;
            }

            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              width: $line * 4;
              height: $line * 4;
              margin: $line * -1.9 0 0 0;
              background: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%), $blue;
              border: $line / 5 solid white;
              border-radius: 50%;
              box-shadow: 0 0 $line * 2 0 $fontMain;
              cursor: pointer;

              transition: {
                duration: $time;
                timing-function: linear;
              }

              &:hover {
                box-shadow: 0 0 $line 0 $fontMain;
                background: $blue;
              }
            }

            &::-webkit-slider-runnable-track {
              width: 100%;
              height: $line / 5;
              cursor: pointer;
              background: $fontMain;
              border-radius: $line / 5;
            }

            &::-webkit-media-slider-thumb {
              background: black;
            }
          }
        }

        &.comment {

          textarea {
            @include input;
            background: {
              color: lighten($grey, 20%);
            }
            resize: none;
            padding: $line * 2;
            border: {
              top-right-radius: $line;
              top-left-radius: $line;
            }
            font: {
              size: $line * 1.5;
            }
          }
        }

        &.buttons {
          width: 65%;
          justify-content: space-around;

          button {
            @include greyBtn;
            margin: $line;
          }
        }
      }
    }

    #constructor-submit {
      display: none;

      + label {
        @include mainBlueBtn;
        display: inline-block;
        margin: 0 $line * 6 $line * 4;
        padding: $line * 2 $line * 4;
        box-sizing: border-box;
      }
    }
  }

  .constructor-preview {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: {
      color: transparentize(black, 0.9);
    }
    align-items: center;
    justify-content: center;
    z-index: -1;

    .details-box {
      width: 75%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: space-between;
      position: absolute;
      background: {
        color: #F4F5FF;
        image: url("../img/hike.png");
        size: cover;
        repeat: no-repeat;
        position: right;
      }
      margin: auto;
      padding: $line * 3;
      border-radius: $line;
      cursor: default;
      overflow: hidden;
      box-shadow: 0 10px 30px 0 rgba(12, 12, 12, 0.55);
      height: 64%;

      .content-scroll{
        min-height: $line * 25;
        overflow-y: auto;
        height: 100%;
        max-height: 100%;
        width: 100%;
      }

      * {
        z-index: 10;
      }

      .overlay{
        position: absolute;
        top: -10em;
        left: 0;
        width: 100%;
        height: 100%;
        .top{
          content: '';
          width: 100%;
          height: $line *200;
          background: rgba(244, 245, 255, 0.76);
          z-index: 1;
          transform-origin: top left;
          transform: translate(20%, -10%) rotate(45deg) scaleX(2);
        }
        .bottom{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: $line *200;
          height: 100%;
          background: #F4F5FF;
          z-index: 1;
          transform-origin: top left;
          transform: translate(10%, -10%) rotate(50deg) scaleX(2);
        }
      }

      .details-name {
        flex-basis: 70%;
        margin: 0;
        padding: 0;
        color: $fontMain;
        font: {
          size: $line * 2.4;
          family: $stratosMedium;
        }
        white-space: nowrap;
      }

      .details-state {
        align-self: center;
        color: $white;
        background: $grey;
        text-transform: uppercase;
        font: {
          family: $stratosBold;
          size: $line * 1.1;
        }
        padding: 3px 10px 2px;
        border-radius: 4px;
      }

      .details-desc, .details-required {
        flex-basis: 100%;
        text-overflow: ellipsis;
        margin: $line 0;
        font: {
          family: $stratosRegular;
          size: $line * 1.6;
        }
        color: $fontMain;
      }

      .details-required {
        margin-bottom: $line * 2;

        span {
          margin: 0 0 0 $line * 2;
          color: $blue;
          font: {
            weight: bold;
          }
        }
      }

      .details-user-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .user-info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          font: {
            family: $stratosBold;
            size: $line * 1.6;
          }
          color: $fontMain;

          div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;


            span:nth-of-type(odd) {
              padding: $line * .2 0;
            }

            span:nth-of-type(even) {
              color: black;
            }
          }

          &:last-of-type {
            padding: $line * .4 0;
            font: {
              family: $ico, $stratosBold;
            }
          }
        }

        &:not(.verification-details:first-of-type) {
          display: none;
        }
      }
    }

    &.pop-up-active {
      display: flex;
      z-index: 100;
    }
  }
}

@media screen and (max-width: 800px) {
  .constructor-top{
    flex-flow: column;
  }
  .constructor-form .footer{
    flex-flow: column;
    .available-types{
      padding: 1em 0;
    }
  }

  .constructor-required .required-fields .field-set{
    flex-flow: column;
    > label, > div, > span, input, .react-datepicker-wrapper, .react-datepicker__input-container{
      margin: 0.5em 0 !important;
      width: 100% !important;
      max-width: 100% !important;
    }
  }
  .constructor-required  .required-fields .field-set.price label{
    padding-top: 1.5em;
  }
}

@media screen and (max-width: 800px) {
  .constructor-required .required-fields .field-set.address{
    margin-bottom: 0 !important;
  }
  .constructor-required .required-fields .field-set.buttons{
    width: 100% !important;
  }
  .constructor .constructor-form .footer{
    padding: 30px 0px;
  }
  .constructor .constructor-form .custom-fields .text-input .input-fields, .constructor .constructor-form .custom-fields .image-input .input-fields,  .constructor .constructor-form .custom-fields .video-input .input-fields{
    flex-flow: column;
    input{
      margin: 0.5em 0 !important;
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}