@import "./variables.scss";

.create-task-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .new-task, .load-more {
    align-self: flex-end;
    background: {
      color: $blue;
      image: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%);
    }
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 rgba(156,162,188,0.75);
    font: {
      family: $stratosMedium;
      size: $line * 1.6;
    }
    color: $white;
    text-transform: uppercase;
    padding: 19px 61px;
    transition: {
      duration: $time;
      timing-function: linear;
    }
    cursor: pointer;

    &:hover {
      background: #3C75CE;
      color: #fff;
      box-shadow: 0 5px 10px 0 rgba(156,162,188,0.75);
    }
  }

  .main-container {
    position: relative;
    margin-top: $line * 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    .verification-type {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      flex-basis: 48.5%;
      max-width: 48.5%;
      min-height: $line * 15;
      border-radius: $line;
      margin-bottom: $line * 2;
      padding: $line * 1.5 $line * 1.5 $line;
      background: {
        size: 35%;
        color: white;
        image: url("../img/card_decor_gr.svg");
        repeat: no-repeat;
        position-x: 105%;
      }
      box-shadow: 0 $line $line * 3 0 rgba(156,162,188,0.55);
      color: #9CA2BC;
      transition: {
        duration: $time;
        timing-function: linear;
      }
      cursor: pointer;

      &:hover {
        box-shadow: 0 5px 20px 0 rgba(156,162,188,0.35);
      }

      .verification-name {
        flex-basis: 70%;
        margin: 0;
        padding: 0;
        color: $fontBlack;
        font: {
          size: $line * 2.4;
          family: $stratosMedium;
        }
        //white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
      }

      .verification-state {
        align-self: flex-start;
        color: $white;
        background: $grey;
        text-transform: uppercase;
        font: {
          family: $stratosBold;
          size: $line * 1.1;
        }
        padding: 3px 10px 2px;
        border-radius: 4px;
      }

      .verification-desc {
        flex-basis: 100%;
        text-overflow: ellipsis;
        margin: 5px 0;
        font: {
          family: $stratosRegular;
          size: $line * 1.4;
        }
        color: $fontMain;
      }

      .verification-city {
        font: {
          family: $stratosRegular;
          size: $line * 1.4;
        }
        color: #BDC0CF;

        span {
          font: {
            family: $ico;
            size: $line * 1.6;
            weight: bold;
          }
        }
      }

      .verification-details {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        display: flex;
        transform: translateY(100%);
        width: 100%;
        height: 100%;

        background: {
          color: transparentize(black, 0.2);
        }
        align-items: center;
        justify-content: center;
        z-index: -1;
        cursor: default;
        transition: none !important;

        .details-box {
          width: 75%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
          align-content: space-between;
          position: absolute;
          background: {
            color: #F4F5FF;
            image: url("../img/hike.png");
            size: cover;
            repeat: no-repeat;
            position: right;
          }
          margin: auto;
          padding: $line * 3;
          border-radius: $line;
          cursor: default;
          overflow: hidden;
          box-shadow: 0 10px 30px 0 rgba(12, 12, 12, 0.55);
          height: 64%;

          .content-scroll{
            min-height: $line * 25;
            overflow-y: auto;
            height: 100%;
            max-height: 100%;
            width: 100%;
          }
          * {
            z-index: 10;
          }

          .details-name {
            flex-basis: 60%;
            margin: 0;
            padding: 0;
            color: $fontMain;
            font: {
              size: $line * 2.4;
              family: $stratosMedium;
            }
            white-space: nowrap;
          }

          .details-state {
            align-self: center;
            color: $white;
            background: $grey;
            text-transform: uppercase;
            font: {
              family: $stratosBold;
              size: $line * 1.1;
            }
            padding: 3px 10px 2px;
            border-radius: 4px;
          }

          .details-desc, .details-required {
            flex-basis: 100%;
            text-overflow: ellipsis;
            margin: $line 0;
            font: {
              family: $stratosRegular;
              size: $line * 1.6;
            }
            color: $fontMain;
          }

          .details-required {
            margin-bottom: $line * 2;

            span {
              margin: 0 0 0 $line * 2;
              color: $blue;
              font: {
                weight: bold;
              }
            }
          }

          .details-user-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            .user-photo{
              padding: 0.5em 1em 0 0;
              display: block;
              width: 16em;
              .slick-slide{
                text-align: center;
                .img-box{
                  background-size: cover;
                  background-position: center center;
                  background-repeat: no-repeat;
                  display: block;
                  margin: 0 auto;
                  width: 100%;
                  height: 12em;
                  border-radius: 10px;
                  box-shadow: rgba(156, 162, 188, 0.5) 0px 2px 8px 0px;
                  overflow: hidden;
                }
                &:nth-child(odd){
                  .img-box{
                    background-image: url(https://udemy-images.udemy.com/course/750x422/1254588_f3a0_3.jpg);
                  }
                }
                &:nth-child(even){
                  .img-box{
                    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBvSbfW-vRKFv4OltewJewFXIv_JMCS1XN5Jw8fYnQMXwYd_gI);
                  }
                }
              }
              .slick-dots{
                bottom: -20px;
                button{
                  font-size: 0;
                  color: transparent;
                  padding: 0;
                  margin: 0;
                  height: 0;
                  width: 0;
                }
              }
            }

            .slider, .carousel{
              width:300px !important;
              //margin:20px auto;
              text-align: center;
              //padding:20px;
              color:white;
              //display:flex;
              //justify-content: center;
              //align-items: center;
              //flex: 1 100%;
              //flex-wrap: wrap;
              background: fade(#ebebeb, 10%);
              //height:500px;

              .slide{
                //display:flex;
                //flex: 1 100%;
                //justify-content: center;
                //align-items: center;
                //flex-wrap: wrap;
              }

              img{display: block;margin:auto;}
            }
            .user-info {
              display: flex;
              flex-direction: column;
              justify-items: flex-start;
              align-items: flex-start;
              font: {
                family: $stratosBold;
                size: $line * 1.6;
              }
              color: $fontMain;

              div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;


                span:nth-of-type(odd) {
                  padding: $line / 2;
                }

                span:nth-of-type(even) {
                  color: black;
                  padding: $line / 2;
                }
              }

              &:last-of-type {
                padding: 0 $line / 2;
                font: {
                  family: $ico, $stratosBold;
                }
              }

            }
            button{
            align-self: flex-start;
              background-color: #337ab7;
              background-image: -webkit-linear-gradient(22deg, #6B68DB 0%, #3C75CE 95%);
              background-image: -o-linear-gradient(22deg, #6B68DB 0%, #3C75CE 95%);
              background-image: linear-gradient(68deg, #6B68DB 0%, #3C75CE 95%);
              border: none;
              outline: none;
              border-radius: 4px;
              -webkit-box-shadow: 0 10px 30px 0 rgba(156, 162, 188, 0.75);
              box-shadow: 0 10px 30px 0 rgba(156, 162, 188, 0.75);
              font-family: "Stratos-Medium-Web", "Arial Black", "Arial", "sans-sarif";
              font-size: 16px;
              color: #fff;
              text-transform: uppercase;
              padding: 19px 61px;
              -webkit-transition-duration: 0.2s;
              -o-transition-duration: 0.2s;
              transition-duration: 0.2s;
              -webkit-transition-timing-function: linear;
              -o-transition-timing-function: linear;
              transition-timing-function: linear;
              cursor: pointer;
              margin-top: 20px;
            }
          }

          .overlay{
            position: absolute;
            top: -10em;
            left: 0;
            width: 100%;
            height: 100%;
            .top{
              content: '';
              width: 100%;
              height: $line *200;
              background: rgba(244, 245, 255, 0.76);
              z-index: 1;
              transform-origin: top left;
              transform: translate(20%, -10%) rotate(45deg) scaleX(2);
            }
            .bottom{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: $line *200;
              height: 100%;
              background: #F4F5FF;
              z-index: 1;
              transform-origin: top left;
              transform: translate(10%, -10%) rotate(50deg) scaleX(2);
            }
          }


        }

        .pop-up-btns{
          display: block !important;
          width: 100%;
          button{
            margin-right: 1em;
          }
        }

        &.pop-up-active {
          transform: translateY(0);
          z-index: 100;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .main-container {
      flex-direction: row;
      .new-task {
        width: 100%;
      }

      .verification-type {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }

  @media screen and (max-width: 470px) {
    .new-task {
      width: 100%;
    }
  }
}