@import "./variables.scss";

.download-app {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 40%;
    height: $line * 30;
    width: 100%;
    background: {
      image: url("../img/bg_appstore.jpg");
      attachment: fixed;
      repeat: no-repeat;
      size: 100%;
      position: center;
    }
    z-index: -1;
  }

  .download-app-caption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      @include blackCaption;
    }

    .back-to-main {
      @include greyBtn;
    }
  }

  .download-app-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      position: relative;
      width: 48%;
      border: {
        radius: $line * .8;
      }
      height: $line * 29.5;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.29);
    }
    .android-link {
      background: {
        color: #282A31;
        image:
                linear-gradient(-174deg, #424653 0%, #282A31 100%);
        repeat: no-repeat;
      }

      .link-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: $line * 55;
        height: $line * 35;
      }
    }

    .ios-link {
      background: {
        color: rgb(244, 245, 255);
      }
      .link-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: $line * 55;
        height: $line * 41;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .download-app .download-app-caption{
    flex-flow: column;
    padding-bottom: 2em;
  }
  .download-app .download-app-links{
    flex-flow: column;
    a{
      width: 80%;
      &:first-child{
        margin-bottom: 1.5em;
      }
    }
  }
}