@import "./variables.scss";
@import '~hamburgers/dist/hamburgers.css';


.header-row {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 1024px){
    width: 90%;
    padding: 0;
  }

  .navbar-left,
  .navbar-right {
    flex-basis: 40%;
  }

  .navbar-left {
    margin: $line * .8 0 0 0;
    white-space: nowrap;

    .download-app {
      padding: 10px 40px;
      border: {
        style: none;
        radius: $line * .4;
      }
      outline: 0;
      background: {
        color: $grey;
      }
      color: $white;
      text: {
        transform: uppercase;
        align: center;
      }
      font: {
        size: 16px;
        family: $stratosMedium;
      }
      white-space: nowrap;
      transition: {
        duration: $time;
        timing-function: linear;
      }
      cursor: pointer;

      &:hover {
        background: rgba(189, 192, 207, 0.69);
        color: #fff;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      }

      &.hide {
        display: none;
      }
    }

    .lang {
      margin: 0 0 0 $line;

      span {
        padding: 0 $line / 2 0 0;
        color: $fontMain;
        font: {
          family: $stratosRegular;
          size: $line * 1.4;
        }
        transition: {
          duration: $time;
          timing-function: linear;
        }
        cursor: pointer;

        &:hover {
          color: $blue;
        }
      }
    }
  }

  .navbar-center {
    text-align: center;
  }

  .navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: {
      duration: $time;
      timing-function: linear;
    }
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    span {
      font: {
        family: $stratosMedium;
      }
      color: $white;
      text: {
        transform: uppercase;
      }

      &:last-of-type {
        padding: 0 $line;
      }
    }

    .profile-photo {
      img {
        width: 100%;
        //box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
      }
      border: {
        radius: 50%;
      }
    }

    &.hide {
      visibility: hidden;
    }
  }
  .mobile{
    display: none;
  }
}



@media screen and (max-width: 700px){
  height: $line * 20;
  padding: 0 $line;
  margin: 0;
  .desktop{
    display: none !important;
  }
  .mobile{
    display: initial !important;
  }
  .logo-box{
    justify-content: left !important;
    text-align: left !important;
  }
  .mobile-nav-trigger{
    text-align: right !important;
    justify-content: right !important;
  }
  .header-row {
    box-sizing: content-box;
    padding: $line * 4 0 0 0 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-content: center;

    .navbar-left {
      flex-basis: 70%;
    }

    .navbar-center {
      flex-basis: 20%;
    }

    .navbar-right {
      flex-basis: 80%;
    }
  }
}

.mobile-nav{
  display: block;
  width: 70%;
  height: 100%;
  position: fixed;
  transform: translateX(200%);
  transition: transform 0.3s ease-in-out;

  background-image: linear-gradient(174deg, #424653 0%, #282A31 100%);
  z-index: 100;
  color: #fff;
  display: flex;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 0;
  right: 0;
  padding: 2em;
  box-shadow: -3px 0px 5px 1px rgba(0,0,0,0.2);
  &.is-active{
    transform: translateX(0);
    .content-box > div{
      flex: 1 0 100%;
      text-align: left !important;
      justify-content: left !important;
    }
  }
  .content-box{
    align-self: flex-start;
  }
  .profile-photo{
    padding-right: 2em;
  }
}

.mobile-nav-trigger{
  position: relative;
  z-index: 101;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
  background-color: #fff !important;
}