@font-face {
  font-family: "Ico";
  src: url("../fonts/ico.woff") format("woff"), url("../fonts/ico.ttf") format("truetype"); }

@font-face {
  font-family: "Stratos-Light-Web";
  src: url("../fonts/Stratos-Light-Web.woff2") format("woff2"), url("../fonts/Stratos-Light-Web.woff") format("woff"), url("../fonts/Stratos-Light-Web.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Stratos-Light Italic-Web";
  src: url("../fonts/Stratos-Light Italic-Web.woff2") format("woff2"), url("../fonts/Stratos-Light Italic-Web.woff") format("woff"), url("../fonts/Stratos-Light Italic-Web.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Stratos-Regular-Web";
  src: url("../fonts/Stratos-Regular-Web.woff2") format("woff2"), url("../fonts/Stratos-Regular-Web.woff") format("woff"), url("../fonts/Stratos-Regular-Web.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Stratos-Medium-Web";
  src: url("../fonts/Stratos-Medium-Web.woff2") format("woff2"), url("../fonts/Stratos-Medium-Web.woff") format("woff"), url("../fonts/Stratos-Medium-Web.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Stratos-Bold-Web";
  src: url("../fonts/Stratos-Bold-Web.woff2") format("woff2"), url("../fonts/Stratos-Bold-Web.woff") format("woff"), url("../fonts/Stratos-Bold-Web.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Stratos-Black-Web";
  src: url("../fonts/Stratos-Black-Web.woff2") format("woff2"), url("../fonts/Stratos-Black-Web.woff") format("woff"), url("../fonts/Stratos-Black-Web.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

body {
  line-height: 1.4;
  font-family: "Stratos-Regular-Web", "Arial Black", "Arial", "sans-sarif";
  font-size: 14px;
  color: #9CA2BC;
  background-image: url("../img/decor.svg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: multiply; }
  body::-webkit-scrollbar {
    display: none; }
  body * {
    box-sizing: border-box; }
  body #root, body .App {
    width: 100%;
    height: 100%; }

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 15px !important; }
  header {
    height: 6em !important; }
    header .header-row > div {
      flex: 1 0 0 !important;
      flex-basis: auto !important; } }
