
@media only screen and (min-width : 1600px) {

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {
  html,body {
    font-size: 15px !important;
  }
  header{
    height: 6em !important;
    .header-row > div{
      flex: 1 0 0 !important;
      flex-basis: auto !important;
    }
  }
}

@media only screen and (max-width : 480px) {



}

@media only screen and (max-width : 320px) {

}