@import "./variables.scss";

.templates-dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .template-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;

    h1 {
      @include blackCaption;
      flex-grow: 1;
    }

    .from-temp-to-dash {
      @include greyBtn;
    }

    .from-temp-to-const {
      padding: $line * 5 0;
      margin: $line * 2 0 0 0;
      min-height: $line * 15;
      width: 100%;
      border: none;
      outline: none;
      border-radius: $line;
      background: {
        color: $white;
        image: url("../img/card_decor_gr.svg");
        repeat: no-repeat;
        size: 35%;
        position-x: 105%;
      }
      box-shadow: 0 $line $line * 3 0 rgba(156,162,188,0.55);
      color: $fontBlack;
      font: {
        size: $line * 2.4;
        family: $stratosMedium;
      }
      white-space: nowrap;
      cursor: pointer;
      transition: {
        duration: $time;
        timing-function: linear;
      }

      &:hover {
        box-shadow: 0 5px 20px 0 rgba(156,162,188,0.35);
      }
    }
  }

  .templates-container {
    margin-top: $line * 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    .template {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      align-items: flex-start;
      flex-basis: 48.5%;
      min-height: $line * 15;
      border-radius: $line;
      margin-bottom: $line * 2;
      padding: $line * 1.5 $line * 1.5 $line;
      background: {
        color: $white;
        image: url("../img/card_decor_gr.svg");
        repeat: no-repeat;
        size: 35%;
        position-x: 105%;
      }
      box-shadow: 0 $line $line * 3 0 rgba(156,162,188,0.55);
      color: #9CA2BC;
      transition: {
        duration: $time;
        timing-function: linear;
      }
      cursor: pointer;

      &:hover {
        box-shadow: 0 5px 20px 0 rgba(156,162,188,0.35);
      }

      .template-name {
        flex-basis: 55%;
        margin: 0;
        padding: 0;
        color: $fontBlack;
        font: {
          size: $line * 2.4;
          family: $stratosMedium;
        }
        white-space: nowrap;
      }

      .template-link {
        align-self: center;
        color: $white;
        background: $grey;
        text-transform: uppercase;
        font: {
          family: $stratosBold;
          size: $line * 1.2;
        }
        padding: 3px 10px 2px;
        border-radius: 4px;
      }

      .template-desc {
        flex-basis: 100%;
        text-overflow: ellipsis;
        margin: 5px 0;
        font: {
          family: $stratosRegular;
          size: $line * 1.4;
        }
        color: $fontMain;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .templates-container {
      flex-direction: row;

      .template {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }

  @media screen and (max-width: 470px) {
    .templates-container {
      flex-direction: column;

      .template-buttons {
        button {
          width: 100%;
        }
      }

      .template {
        width: 100%;
      }
    }
  }
}

